<div class="main">

	<!-- First Page -->
	<section>
		<div class = "left-sect">
			<p class="description egama active"></p>
			<p class="description erwinf"></p>
			<p class="description mtjoe"></p>
		</div>
		<div class = "middle-sect">
			<p class="photo egama"><img src="/assets/founder-images/egama.jpg" alt="Erlangga"></p>
			<p class="photo erwinf"><img src="/assets/founder-images/erwinf.jpg" alt="Erwin"></p>
			<p class="photo mtjoe"><img src="/assets/founder-images/mtjoe.jpg" alt="Marisa"></p>
		</div>
		<div class = "right-sect">
			<p class= "title">Meet Our Team</p>
			<p class="big-photo egama active">
				<img src="/assets/founder-images/bigEgama.jpg" alt="Erlangga">
			</p>
			<p class="big-photo erwinf"><img src="/assets/founder-images/bigErwinf.jpg" alt="Erwin"></p>
			<p class="big-photo mtjoe"><img src="/assets/founder-images/bigMtjoe.jpg" alt="Marisa"></p>
		</div>
	</section>
</div>