<div class="main">

	<!-- First Page -->
	<div class="sect-container">
		<div class = "sect">
			<div class="au-image-cont">
				<img src="/assets/founder-images/bigEgama.jpg" alt="Erlangga">
			</div>
			<p>Erlangga Satria Gama</p>
		</div>
		<div class = "sect">
			<div class="au-image-cont">
				<img src="/assets/founder-images/bigErwinf.jpg" alt="Erlangga">
			</div>
			<p>Erwin Fernandez</p>
		</div>
		<div class = "sect">
			<div class="au-image-cont">
				<img src="/assets/founder-images/mtjoe.jpg" alt="Erlangga">
			</div>
			<p>Marisa Tjoe</p>
		</div>
	</div>
		
</div>