<div class="main">

	<!-- First Page -->
	<section>
		<div class = "leftSect">
			<p class="description egama active"></p>
			<p class="description erwinf"></p>
			<p class="description mtjoe"></p>
		</div>
		<div class = "MiddleSect">
			<p class="photo egama"><img src="/assets/egama.jpg" alt="Erlangga"></p>
			<p class="photo erwinf"><img src="/assets/erwinf.jpg" alt="Erwin"></p>
			<p class="photo mtjoe"><img src="/assets/mtjoe.jpg" alt="Marisa"></p>
		</div>
		<div class = "RightSect">
			<p class= "aboutUsTitle">Meet Our Team</p>
			<p class="bPhoto egama active"> <img src="/assets/bEgama.jpg" alt="Erlangga"></p>
			<p class="bPhoto erwinf"><img src="/assets/bErwinf.jpg" alt="Erwin"></p>
			<p class="bPhoto mtjoe"><img src="/assets/bMtjoe.jpg" alt="Marisa"></p>
		</div>
	</section>
</div>