
<div id="navbar">
	<div id="nav-brand">
		<p>The Club Biz</p>
	</div>
	
	<ul id="nav-menu">
		<li><a href="javascript:goToBrowse()">Browse</a></li>
		<li><a href="#">About Us</a></li>
	</ul>
	<form id="nav-search">
		<input id="nav-search-f" type="text" name="search"/>
		<input id="nav-search-btn" type="submit" value="s"/>
	</form>
</div>

<div class="main">
	<section class="page-one">
		

		 <div id="carousel-example-generic" class="section carousel slide" data-ride="carousel">
     		<ol class="carousel-indicators">
        		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
        		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
      		</ol>
      		<div class="carousel-inner">
        		<div class="item active">
          			<img data-src="robotics_club.jpg" alt="First slide">
        		</div>
        		<div class="item">
          			<img data-src="holder.js/900x500/auto/#666:#444/text:Second slide" alt="Second slide">
        		</div>
        		<div class="item">
          			<img data-src="holder.js/900x500/auto/#555:#333/text:Third slide" alt="Third slide">
        		</div>
      		</div>
      		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        		<span class="glyphicon glyphicon-chevron-left"><img src="left-arrow.gif"></span>
      		</a>
      		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        		<span class="glyphicon glyphicon-chevron-right"><img src="right-arrow.gif"></span>
      		</a>
      	</div>
    </section>
	
	<!-- SOCIETY/EVENTS CONTENTS -->
  	<section class="page-two">
		<div class="second-page">
			<div id="main-content">
				<div id="sidebar">
					<ul style="list-style:none">
						<li><p class="side-h1">Account</p></li>
						<ul style="list-style:none">
							<li><a class="side-h2" href="#">My Societies</a></li>
							<li><a class="side-h2" href="#">Adiministered</a></li>
							<li><a class="side-h2" href="#">My Upcoming Events</a></li>
						</ul></br>
						<li><p class="side-h1">Browse Societies</p></li>
						<ul style="list-style:none">
							<li><a class="side-h2" href="#">All Societies</a></li>
							<li><a class="side-h2" href="#">By Categories</a></li>
							<li><a class="side-h2" href="#">By University</a></li>
						</ul></br>
						<li><p class="side-h1">Browse Events</p></li>
						<ul style="list-style:none">
							<li><a class="side-h2" href="#">Upcoming Events</a></li>
							<li><a class="side-h2" href="#">Past Events</a></li>
							<li><a class="side-h2" href="#">By Categories</a></li>
							<li><a class="side-h2" href="#">By University</a></li>
						</ul></br>
					</ul>
				</div>

				<div id="open-sidebar">
					<img src="right.png" class="open-sidebar-btn">
				</div>



				<div id="society-content">
					<div id="society-hdr">Societies - ALL</div>
					<div id="society-list">
						<div class="society-entry"></div>
						<div class="society-entry"></div>
						<div class="society-entry"></div>
						<div class="society-entry"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>