body {
  padding-top: 100px !important;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/////////////////////////
// SELF-ADDED STYLING  //
/////////////////////////

$nav_height:100px;

/**** Navbar General ****/

#navbar {

  background-color: black;
  height: $nav_height;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 1000;
  float: left;

  /**** Navbar Brand ****/

  #nav-brand {
    text-align: center;
    height: 100%;
    width: 20%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;

    a {
      display:block;
      height: 100%;
      width: 100%;
      line-height: $nav_height;
      font-family: Lato;
      font-weight: bold;
      color: white;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
    }

  }

  /**** Navbar Menu ****/

  #nav-menu {
    height: 100%;
    top: 0;
    float: left;
    width: 30%;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    li {
      line-height: $nav_height;
      display: inline;
      height: 100%;
      text-align: center;
      width: 50%;
      float: left;
      margin: none;
    }

    li:hover {
      background-color: #3B3737;
    }

    a {
      display:block;
      height: 100%;
      width: 100%;
      font-family: Lato;
      vertical-align: middle;
      line-height: $nav_height;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  /**** Navbar Search ****/


  #nav-search-container {
    float: left;
    width: 30%;
    height: $nav_height;
    line-height: $nav_height;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    margin:0;
    margin-left:5px;
    margin-right:5px !important;

    #nav-search-field {
      height: 40px;
      width: 80%;
      font-size: 20px;
      line-height: 40px;
      vertical-align: middle;
      border: none;
      padding: 10px;
      color:black !important;
      background-color: white;
    }

    #nav-search-btn {
      background-color: white;
      margin-left: -10px;
      border: none;
      font-size: 20px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle !important;
      
    }
  }

  #nav-log-add {
    vertical-align: middle;
    line-height: $nav_height;
    display: inline-block;
    width:13%;
    text-align: center;
    
    .log-add-btn {
      background-color: black;
      border:2px solid grey;
      border-radius: 5px;
    }

    .log-add-btn:hover {
      
      background-color: #717171;
      border:2px solid #717171;
    }
  }
}

.modal-body {
  text-align: center;
  margin-bottom: 0px;
  padding-top:0px !important;
  padding-bottom: 0px !important;

  input {
    width:90%;
    float:none;
    margin: 10px;
    padding:10px;
  }
}
.modal-footer {
  text-align:center !important;
  margin-top:0 !important;
  padding-top: 0 !important;

  .modal-btn {
    width: 42.5%;
    float:none;
    margin-top:10px;
    padding:10px;
  }

  .modal-btn:first-child {
    float:left;
    margin-right: 2%;
    margin-left:5%;
  }
}

.modal-choice {
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: block;
  height: 100px;
  width:100px;
  float:left;
  text-align: center;
  padding-top:20px;

  span {
    font-size: 40px;
  }
}

.modal-choice:first-child {
  margin-right: 20px;
  margin-left: 60px;
}

