<!DOCTYPE html>
<html>
<head>
  <title>TheclubbizWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Navigation Bar -->
	<div id="navbar">
		<div id="nav-brand">
			<p>The Club Biz</p>
		</div>
		
		<ul id="nav-menu">
			<li><a href="javascript:goToBrowse()">Browse</a></li>
			<li><a href="#">About Us</a></li>
		</ul>
		<form id="nav-search-container">
			<input id="nav-search-field" type="text" name="search"/>
			<input id="nav-search-btn" type="submit" value="s"/>
		</form>
		<div id="nav-log-add">
			<a href="#">Login</a>
		</div>
	</div>

<%= yield %>

</body>
</html>
