
<div class="event-desc">
	
</div>
<div class="tabs">
	<div class="event-tabs">
		<div class="event-tab st1" style='background-color: #95a5a6;'>
			<p>Gallery</p>
		</div>
		<div class="event-tab st2" style='background-color: #2c3e50;'>
			<p>Discussion</p>
		</div>
		<div class="event-tab st3" style='background-color: #18bc9c;'>
			<p>Coming</p>
		</div>
		<div class="event-tab st4" style='background-color: #3498db;'>
			<p>Sponsor</p>
		</div>
	</div>
	<div class="tab-pages">
		<!-- -->
		<div class="tab-page st1" style='background-color: #95a5a6;'>
			<div class="exit"><%= image_tag("icon-remove.png") %></div>

		</div>
		<div class="tab-page st2" style='background-color: #2c3e50;'>
			<div class="exit"><%= image_tag("icon-remove.png") %></div>
		</div>
		<div class="tab-page st3" style='background-color: #18bc9c;'>
			<div class="exit"><%= image_tag("icon-remove.png") %></div>
		</div>
		<div class="tab-page st4" style='background-color: #3498db;'>
				<div class="exit"><%= image_tag("icon-remove.png") %></div>
		</div>
	</div>
</div>